/* Carlos Hernandez 27.568.708 Programacion 2 seccion */

/* * {
    outline: 1px solid red;
} */

body {
    font-family: "Times New Roman", Times, serif;
}

div.superior {
    display: flex;
}

div.centro {
    width: 960px;
    display: flex;
    margin-right: 16px;
}

div.datos {
    width: 960px;
    display: flex;
    margin-right: 16px;
}

div.separar {
    margin-left: 40px;
    margin-top: 16px;
}

div.margen {
    width: 80%;
}

div.margen2 {
    width: 90%;
    text-align: center;
}

div.margen3 {
    width: 60%;
}

header, section {
    width: 960px;
    margin: 0 auto;
    /* display: flex; */
}


img {
    width: 160px;
    height: 220px;
    float: right;
    border-style: solid;
}

ul.datos_lista {
    list-style-type: upper-roman;
}

ul {
    list-style-type: none;
}

a:link, a:visited {
    background-color: #7b236c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(58, 13, 51);
  }