<!-- Carlos Hernandez 27.568.708 Programacion 2 seccion 1 -->

<html>
    <head>
        <title>Curriculum 2.0</title>
        <link rel="stylesheet" href="style/style.css">
    </head>
    <body background="style/img/BT-FONDO.jpg" style="background-size: 100% 100%;">
        <header>
            <div class="superior">
                
                <div class="margen2">
                    <h1>Carlos Alfredo Hernandez Cruz</h1>
                    <h3>Telefono: (0412) 4417308</h2>
                    <h3>Correo: alfredo09hernandez@gmail.com</h3>
                </div>

                <div>
                    <img src="style/img/mi_foto.jpg" alt="Image">
                </div>

            </div>
            <div>
                <h1>Datos Personales</h1>
            </div>
            <div class="datos">
                <ul>
                    <li>
                        <p><b>Cedula de Identidad</b></p>
                    </li>
                    <li>
                        <p><b>Estado Civil</b></p>
                    </li>
                    <li>
                        <p><b>Nacionalidad</b></p>
                    </li>
                    <li>
                        <p><b>Edad</b></p>
                    </li>
                    <li>
                        <p><b>Fecha de Nacimiento</b></p>
                    </li>
                    <li>
                        <p><b>Lugar de Nacimiento</b></p>
                    </li>
                    <li>
                        <p><b>Dirección</b></p>
                    </li>
                </ul>
                <div class="separar">
                    <ul>
                        <li>
                            <p>V-27.568.708</p>
                        </li>
                        <li>
                            <p>Soltero</p>
                        </li>
                        <li>
                            <p>Venezolano</p>
                        </li>
                        <li>
                            <p>20 Años</p>
                        </li>
                        <li>
                            <p>07 de Diciembre del 2000</time></p>
                        </li>
                        <li>
                            <p>Maracay, Estado Aragua</p>
                        </li>
                        <li>
                            <p>Urb. Rómulo Gallegos. Calle 6, Casa No 1. San Juan de los Morros, Estado Guárico.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="centro">
                <div class="margen">
                    <h1>Informacion Academica</h1>
                    <ul class="datos_lista">
                        <li>
                        <p><b>EDUCACIÓN PRIMARIA:</b> U.E.E “Simón Rodríguez”</p>
                        </li>
                        <li>
                            <p><b>EDUCACIÓN SECUNDARIA:</b> Bachiller en Ciencias Básicas. Institución: U.E.N “Liceo Alberto Smith” Villa de Cura, Estado Aragua. Fecha: 15 de Julio de 2017.</p>
                        </li>
                        <li>
                            <p><b>ESTUDIOS UNIVERSITARIOS:</b> Octubre-2017, <b>( 4 años en transcurso de la carrera )</b> Universidad Nacional Experimental de Los Llanos Centrales Rómulo Gallegos, Área De ingeniería En Sistemas, aspirante al título de Ingeniero en Informática.</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Informacion Profesional</h1>
                    <ul class="datos_lista">
                        <li>
                            <p>Planificador de la Sociedad Mercantil Bus Guárico C.A.</p> 
                        </li>
                        <li>
                            <p>Jefe del Departamento de Recaudación de la Sociedad Mercantil Bus Guárico C.A.</p> 
                        </li>
                        <li>
                            <p>Jefe del Departamento de Tecnología y Prensa de la Sociedad Mercantil Bus Guárico C.A.</p> 
                        </li>
                        <li>
                            <p>Analista 3 Desarrollo Web en Sistema Tecnológicos Alcaravan S.A</p> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="centro">
                <div class="margen3">
                    <h1>Habilidades y Destrezas</h1>
                    <ul class="datos_lista">
                        <li>
                            <p>Capacidad de establecer relaciones interpersonales para trabajar en equipo, con alto sentido de responsabilidad.</p> 
                        </li>
                        <li>
                            <p>Aprender sobre nuevas experiencias o exigencias que se me presenten en el campo laboral con el fin de satisfacer las necesidades de la empresa.</p> 
                        </li>
                        <li>
                            <p>Habilidad para trabajar en grupo y liderar en los mismos.</p> 
                        </li>
                        <li>
                            <p>Proactivo, Ágil, Dinámico y De Fácil Adaptación.</p> 
                        </li>
                        <li>
                            <p>Constante, Ordenado, Puntual, Confiable y Responsable.</p> 
                        </li>
                        <li>
                            <p>Experiencia en Atención al Público.</p> 
                        </li>
                        <li>
                            <p>Conocimientos en Arte y pintura, Cocina y otras áreas a fines.</p> 
                        </li>
                        <li>
                            <p>Habilidad en formateo de Pc, Actualización de Sistemas Operativos, instalación de Drivers entre otras habilidades a fines.</p> 
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Conocimiento</h1>
                    <ul class="datos_lista">
                        <li>
                            <p><b><u>Lenguaje de Programacion:</u></b> Python, JavaScript</p> 
                        </li>
                        <li>
                            <p><b><u>Office:</u></b> Manejo Básico</p> 
                        </li>
                        <li>
                            <p><b><u>Lenguaje de Etiqueta:</u></b> HTML, XML, CSS</p> 
                        </li>
                        <li>
                            <p><b><u>Framework:</u></b> Odoo, Node.js</p> 
                        </li>
                    </ul>
                </div>
            </div>
            <div style="text-align: center;">
                <h1>Ingresar datos de Contato</h1>
                <p>
                    Formulario de contactos.
                </p>
                <form action="/" method="post">
                    <label for="nombre"><b>Nombre Completo</b></label><br />
                    <input type="text" id="nombre" name="nombre" style="width: 40%;"
                        placeholder="Nombre Completo"
                        />
                    <br />
                    <label for="correo"><b>Correo</b></label><br />
                    <input type="text" id="correo" name="correo" style="width: 40%;"
                        placeholder="Correo"
                        />
                    <br />
                    <label for="comentario"><b>Comentario</b></label><br />
                    <textarea id="comentario" name="comentario" style="width: 40%; height: 20%; resize: none;"
                        placeholder="Comentario"></textarea>
                    <br />
                    <button class="button button1" style="margin-top: 10px;" type="submit" name="btnDecirHola">Enviar</button>
                </form>
            </div>
            <div style="text-align: center;">
                <h1>Contactos</h1>
                <% for(var i = 0; i < items.length; i++) {%>
                    <h2>
                       Nombre: <%= items[i].name %> <br />
                       Correo: <%= items[i].correo %> <br />
                       Comentario: <%= items[i].comentario %> <br />
                       Direccion IP: <%= items[i].ip %> <br />
                    </h2>
                <% } %>
            </div>     
        </header>                     
    </body>
</html>
