<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    
    <h1><%= title %></h1>

    <nav>
        <ul>
            <li>
                <a href="/curriculum">Ver el Curriculum</a>
            </li>
        </ul>
    </nav>

</body>
</html>